<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>SonicBotnet | Attack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <canvas id="bg-network"></canvas>
    <div class="sidebar">
    <div class="sidebar-header">
        <div class="logo">SonicBotnet</div>
        <button class="menu-toggle" id="menuToggle">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <div class="menu" id="menu">
        <a href="/" class="menu-item">
            <i class="fas fa-tachometer-alt"></i>
            Dashboard
        </a>
        <a href="attack" class="menu-item">
            <i class="fas fa-server"></i>
            Panel
        </a>
        <a href="methods" class="menu-item">
            <i class="fas fa-list-ul"></i>
            Methods
        </a>
        <a href="{{ url_for('logout') }}" class="menu-item">
            <i class="fas fa-sign-out-alt"></i>
            Logout
        </a>
    </div>
</div>
    <div class="main-content">
        <form action="{{ url_for('launch_attack') }}" method="post" id="attack-form">
        <div class="content">
         <h2>Panel</h2>
         <p></p>
         <p></p>
         <label for="target">Target:</label>
         <input class="text-field__input" type="text" name="target" id="target" placeholder="Target" value="">

         <label for="port">Port:</label>
         <input class="text-field__input" type="text" name="port" id="port" placeholder="Port" value="">

         <label for="duration">Time:</label>
         <input class="text-field__input" type="text" name="duration" id="duration" placeholder="Time" value="">

         <label for="method">Methods:</label>
         <select id="method" name="method" required>
            <optgroup label="Layer 4">
                <option value="UDPFLOOD">UDP</option>
                <option value="UDPRAND">UDPRAND</option>
            </optgroup>
            <optgroup label="Layer 7">
                <option value="HTTPS-JYNX">HTTPS-JYNX</option>
                <option value="HTTPFLOOD">HTTP</option>
                <option value="TLS">TLS</option>
            </optgroup>
         </select><br>

         <button class="btn">Launch Attack</button>
        </div>
        </form>
          <div id="attack-message" style="display: none; color: #50c878; margin-top: 10px;">
            Attack Launched!
        </div>
    </div>
    <script>
const toggle = document.getElementById('menuToggle');
const menu = document.getElementById('menu');
toggle.addEventListener('click', () => {
    menu.classList.toggle('active');
});
    </script>
    <script>
     document.getElementById('attack-form').addEventListener('submit', function() {
            document.getElementById('attack-message').style.display = 'block';
        });
    </script>
</body>
</html>
